/*

Tester avec les couleurs :
F6F7EB pour le texte
507DBC le header
BBD1EA le body
A1C6EA je sais pas

*/

*{	
	--bcCouleurHeader:rgb(34,35,29);
	--borderCouleurHeader:rgb(255,255,255);
	--couleurLienHeader: white;
	--couleurLienHeaderHover: grey;

	--bcCouleur:rgb(39,40,34);
	--texte:white;

	--couleurInput: rgb(34,35,29);
	--couleurTextInput: white;

	--sliderBouton: white;
	--sliderChecked:#2196F3 ;
	--sliderBackground: #ccc ;

}

body{
	background-color: var(--bcCouleur);
	color:var(--texte);
	display: flex;
	min-height: 100vh;
  	flex-direction: column;
}


div.content{
	flex: 1;
}

/* ----------------------------------------------------------------| HEADER |---------------------------------------------------------------------*/

div.header{
	background-color: var(--bcCouleurHeader);
	font-size:20px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid var(--borderCouleurHeader);
	margin-bottom: 20px;
}

div.header p{
	cursor: default;
	font-size: 24px;
	text-align: center;
}

div.header div{
	display: flex;
}

div.header div a{
	color:var(--couleurLienHeader);
	text-decoration: none;
	vertical-align: center;
	margin: auto;
	margin-right:25px;
}

div.header div a:hover{
	color:var(--couleurLienHeaderHover);
	transition: 0.7s;
}

/* ----------------------------------------------------------------| FOOTER |---------------------------------------------------------------------*/

div.footer p{
	text-align: center;
}