/*

Tester avec les couleurs :
F6F7EB pour le texte
507DBC le header
BBD1EA le body
A1C6EA je sais pas

*/

body{
	background-color: rgb(39,40,34);
	color:white;
	display: flex;
	min-height: 100vh;
  	flex-direction: column;
}


div.content{
	flex: 1;
}

/* ----------------------------------------------------------------| HEADER |---------------------------------------------------------------------*/

div.header{
	background-color: rgb(34,35,29);
	font-size:20px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid rgba(229, 229, 229, 0.972549);
	margin-bottom: 20px;
}

div.header p{
	cursor: default;
	font-size: 24px;
	text-align: center;
}

div.header div{
	display: flex;
}

div.header div a{
	color:white;
	text-decoration: none;
	vertical-align: center;
	margin: auto;
	margin-right:25px;
}

div.header div a:hover{
	color:grey;
	transition: 0.7s;
}

/* ----------------------------------------------------------------| FOOTER |---------------------------------------------------------------------*/

div.footer p{
	text-align: center;
}