/*

Tester avec les couleurs :
F6F7EB pour le texte
507DBC le header
BBD1EA le body
A1C6EA je sais pas

*/

*{	

	--bcCouleurHeader:#0475A5;
	--borderCouleurHeader:#0475A5;
	--couleurLienHeader: lightgrey;
	--couleurLienHeaderHover:white ;

	--bcCouleur:white;
	--texte:black;

	--couleurInput: #0475A5;
	--couleurTextInput: white;

	--sliderBouton: white;
	--sliderChecked:#0475A5 ;
	--sliderBackground: grey ;
}

body{
	font-family: "Roboto",serif;
	background-color: var(--bcCouleur);
	color:var(--texte);
	display: flex;
	min-height: 100vh;
  	flex-direction: column;
}


div.content{
	flex: 1;
}

/* ----------------------------------------------------------------| HEADER |---------------------------------------------------------------------*/

div.header{
	background-color: var(--bcCouleurHeader);
	font-size:20px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid var(--borderCouleurHeader);
	margin-bottom: 20px;
}

div.header span{
	color: white;
	font-weight: bold;
	cursor: default;
	margin: 15px 0px 15px 0px;
	font-size: 28px;
	text-align: center;
}

div.header div{
	display: flex;
}

div.header div a{
	color:var(--couleurLienHeader);
	text-decoration: none;
	vertical-align: center;
	margin: auto;
	margin-right:25px;
}

div.header div a:hover{
	color:var(--couleurLienHeaderHover);
	transition: 0.7s;
}

/* ----------------------------------------------------------------| FOOTER |---------------------------------------------------------------------*/

div.footer p{
	text-align: center;
}